:root{
    --darkGrey: #353232;
    --veryLightGrey: #e6e1e1;
    /* --lightPink: #ED8484;
    --grey:#61605E; */
    --lightPink: #1313127e;
    /* --lightPink: #131312; */
    /* --lightPink: #504e4e; */
    /* --grey:#131312; */
    --grey:#1313127e;
    --lightGrey:#8D8D8C;
    /* --yellow:#EDE284; */
    /* --yellow:#131312; */
    --yellow:#131312b5;
    /* --yellow:#504e4e; */
    --white:#ffffff;
    --black:#000000;
    --backgroundColour:#ffffff;
    --textColour:#000000;
    --buttonColours:#000000;
    --mainButtonColours:#353232;
    --navbarColor:#ffffffcd;
    --navlinkColor:#000000;
    --iconColor:#353232;
}

:root.dark{
    --backgroundColour:#353232;
    --textColour:#e6e1e1;
    --buttonColours:#ffffff;
    --mainButtonColours:#000000;
    --navbarColor:#353232d4;
    --navlinkColor:#e6e1e1;
    --iconColor:#dddddd;
}

body{
    font-family:'Abel', sans-serif;
    background:var(--backgroundColour);
    color:var(--textColour);
}

h1{
    font-size: 1.3rem;
}

h3{
    font-size: 1.2rem;
}

h4{
    font-size: 1.1rem;
}

h5{
    font-size: 1rem;
}

h6{
    font-size: 0.8rem;
    color:var(--mainButtonColours);
}

.smallerFont{
font-size: 0.8rem;
}

/* general */
.maxWidthContainer{
max-width: 1400px;
}

.textOverlayContainer{
    position: relative;
}
.textOnTop{
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.buttonDark{
    fill: var(--buttonColours);
} 

/* main button */
.mainButton{
    font-family: 'Abel', sans-serif;
    line-height:1.1;
    font-size:0.8rem;
    text-align: center;
    text-decoration: none;
    border:none;
    background-color: var(--mainButtonColours);
    border-radius: 50%;
    height:42px;
    width:42px;
    transition:all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition-delay: all 0.8s ease-in-out;
    pointer-event:none;
}

.mainButton:hover{
    cursor:auto;
    opacity: 0.6;
}

.btn:not(:disabled):not(.disabled) {
    cursor: auto;
}

.btn:focus{
    box-shadow:none;
}

.cursor{
    cursor:auto;
}

.downloadButton{
    padding-left:13px;
    padding-top:12px;
}

.arrowButton{
    padding-left:13px;
    padding-top:12px;
}

.globeButton{
    padding-left:11px;
    padding-top:11px;
}

/* about */

#spin{
    -webkit-animation-name: rotate1;
    -moz-animation-name: rotate1;
    -ms-animation-name: rotate1;
    -o-animation-name: rotate1;
        animation-name: rotate1;
-webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
        animation-duration: 10s;
-webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
        animation-timing-function: linear;
        transform-origin: center;
    animation-play-state: paused;
}

#circleButton:hover > #spin {
    animation-play-state: running;
}


@-webkit-keyframes rotate1 {
    to { -webkit-transform: rotate(360deg); }

}
@-moz-keyframes rotate1 {
    to { -moz-transform: rotate(360deg); }

}
@-ms-keyframes rotate1 {
    to { -ms-transform: rotate(360deg); }

}
@-o-keyframes rotate1 {
    to { -o-transform: rotate(360deg); }

}
@keyframes rotate1 {
    to { transform: rotate(360deg); }
}

/* about center button*/

.atagAbout{
    color:#eb1990;
    /* color:#ED8484; */
    -moz-transition: color 1s ease-out; 
    -o-transition: color 1s ease-out; 
    transition: color 1s ease-out; 
  
}

#circleButton:hover > .atagAbout {
    -webkit-color: var(--mainButtonColours);
    -moz-color: var(--mainButtonColours);
    -o-color: var(--mainButtonColours);
    color: var(--mainButtonColours);
}

.arrowColorAbout{
    /* color:#353232; */
    color:#ffffff;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

#circleButton:hover > .arrowColorAbout{
    -webkit-color:#ffffff;
    -moz-color:#ffffff;
    -o-color:#ffffff;
    color:#ffffff;
}

/* portfolio */

#spin2{
    -webkit-animation-name: rotate2;
    -moz-animation-name: rotate2;
    -ms-animation-name: rotate2;
    -o-animation-name: rotate2;
        animation-name: rotate2;
-webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
        animation-duration: 10s;
-webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
        animation-timing-function: linear;
        transform-origin: center;
    animation-play-state: paused;
}

#circleButton2:hover > #spin2 {
    animation-play-state: running;
}


@-webkit-keyframes rotate2 {
    to { -webkit-transform: rotate(360deg); }

}
@-moz-keyframes rotate2 {
    to { -moz-transform: rotate(360deg); }

}
@-ms-keyframes rotate2 {
    to { -ms-transform: rotate(360deg); }

}
@-o-keyframes rotate2 {
    to { -o-transform: rotate(360deg); }

}
@keyframes rotate2 {
    to { transform: rotate(360deg); }
}

/* portfolio hover center*/
.atagPortfolio{
    /* color:#EDE284; */
    color:#dcc815;
    -moz-transition: color 1s ease-out; 
    -o-transition: color 1s ease-out; 
    transition: color 1s ease-out; 
}

#circleButton2:hover > .atagPortfolio {
    -webkit-color: var(--mainButtonColours);
    -moz-color: var(--mainButtonColours);
    -o-color: var(--mainButtonColours);
    color: var(--mainButtonColours); 
}

.arrowColor{
    /* color:#353232; */
    color:#ffffff;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

#circleButton2:hover > .arrowColor{
    -webkit-color:#ffffff;
    -moz-color:#ffffff;
    -o-color:#ffffff;
    color:#ffffff;
}
/* LANDING */

#spin3{
    -webkit-animation-name: rotate3;
    -moz-animation-name: rotate3;
    -ms-animation-name: rotate3;
    -o-animation-name: rotate3;
        animation-name: rotate3;
-webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
        animation-duration: 10s;
-webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
        animation-timing-function: linear;
        transform-origin: center;
    animation-play-state: paused;
}

#circleButton3:hover > #spin3 {
    animation-play-state: running;
}


@-webkit-keyframes rotate3 {
    to { -webkit-transform: rotate(360deg); }

}
@-moz-keyframes rotate3 {
    to { -moz-transform: rotate(360deg); }

}
@-ms-keyframes rotate3 {
    to { -ms-transform: rotate(360deg); }

}
@-o-keyframes rotate3 {
    to { -o-transform: rotate(360deg); }

}
@keyframes rotate3 {
    to { transform: rotate(360deg); }
}

/* landing */
.atagLanding{
    /* color:#ED8484; */
    color:#eb1990;
    -moz-transition: color 1s ease-out; 
    -o-transition: color 1s ease-out; 
    transition: color 1s ease-out; 
}

#circleButton3:hover > .atagLanding {
    -webkit-color: #353232; 
    -moz-color: #353232; 
    -o-color: #353232; 
    color: #353232; 
}

/* script header text */
.path1 {
    stroke-dasharray:4000;
    stroke-dashoffset: 4000;
    animation: dash 4s cubic-bezier(0.6,0.2,0.5,0.6) forwards;
}

@keyframes dash {
    to {
    stroke-dashoffset: 0;
    }
}

.path2 {
    stroke-dasharray:4000;
    stroke-dashoffset: 4000;
    animation: dash2 4s cubic-bezier(0.6,0.2,0.5,1) forwards 1.8s ;
}

@keyframes dash2 {
    to {
    stroke-dashoffset: 0;
    }
}

.path3 {
    stroke-dasharray:4000;
    stroke-dashoffset: 4000;
    animation: dash3 4s cubic-bezier(0.6,0.2,0.5,1) forwards 1.5s ;
}

@keyframes dash3 {
    to {
    stroke-dashoffset: 0;
    }
}

.path4 {
    stroke-dasharray:4000;
    stroke-dashoffset: 4000;
    animation: dash4 4s cubic-bezier(0.6,0.2,0.5,1) forwards 1.6s ;
}

@keyframes dash4 {
    to {
    stroke-dashoffset: 0;
    }
}

.textOnImage{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textBelowSignature{
    position:absolute;
    top: 225%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* navbar */
.navWhite{
    background-color: var(--navbarColor);
    transition:ease-in-out 0.8s ;
}

.navTransparent{
    background-color: Transparent;
    transition:ease-in-out 0.8s;
}

.navlinkText{
    font-size: 1.4rem;
    color:var(--navlinkColor);
    transition:all 0.9s ease-in-out;
}

.navlinkText:hover{
    opacity: 0.6;
    color:var(--navlinkColor);
}

.strokeChange path{
    stroke:var(--navlinkColor);
}

.sticky {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}

/* slider */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconLtDkModeStar{
    height:30px;
    width:0px;
    font-size:26px;
    color:var(--navlinkColor);
}

.iconLtDkModeMoon{
    height:30px;
    width:0px;
    font-size:21px;
    color:var(--navlinkColor);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkGrey);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--white);
}

input:checked + .slider:before {

    background-color:var(--darkGrey);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.switch-checkbox {
    width: 140px;
}

/* portfolioPage */
.pagePbBg{
    padding-bottom: 250px;
    padding-top:140px;
}

.pagePb{
    padding-bottom: 250px;
}

.imageColourOverlay{
    position:relative;
}

.imageColourOverlay .overlayGrey:after{
    background: var(--grey);
    color: var(--white);
    opacity: 0.9;
    position:absolute;
    transition:all 0.4s ease-in-out;
    border-radius:0px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: ' ';
}

.imageColourOverlay:hover .overlayYellow:after{
    opacity: 0.2;
} 

.imageColourOverlay .overlayYellow:after{
    background-color: var(--yellow);
    opacity: 0.8;
    position:absolute;
    transition:all 0.9s ease-in-out;
    border-radius:0px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: ' ';
}

.imageColourOverlay:hover .overlayGrey:after{
    opacity: 0.2;
}

.overlayPostion{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backgroundYellow{
    background: var(--yellow);
    opacity: 1; 
    padding:10px;
}

.backgroundGrey{
    background: var(--grey);
    opacity: 1; 
    padding:10px;
}

.backgroundPink{
    background: var(--lightPink);
    opacity: 1; 
    padding:10px;
}

.backgroundLightGrey{
    background:var(--lightGrey);
    opacity: 1; 
    padding:10px;
}

.imageColourOverlay .overlayPink:after{
    background: var(--lightPink);
    color: var(--white);
    opacity: 0.8;
    position:absolute;
    transition:all 0.9s ease-in-out;
    border-radius:0px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: ' ';
}

.imageColourOverlay:hover .overlayPink:after{
    opacity: 0.2;
}

.imageColourOverlay .overlayLightGrey:after{
    background: var(--lightGrey);
    color: var(--white);
    opacity: 0.9;
    position:absolute;
    transition:all 0.9s ease-in-out;
    border-radius:0px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: ' ';
}

.imageColourOverlay:hover .overlayLightGrey:after{
    opacity: 0.2;
}

.textBlack{
    color: var(--black);
}

.textWhite{
    color: var(--white);
}

/* examples page */
.linksExamplePage .fa-github{
    height:44px;
    width:44px;
    transition:all 0.8s ease-in-out;
    color: var(--mainButtonColours);
}

.linksExamplePage .fa-github:hover {
    opacity:0.8;
}

.linksExamplePage a{
    transition:all 0.8s ease-in-out;
}
.colourFill path{
    fill:var(--mainButtonColours);
}

.linksExamplePage a:hover{
    opacity:0.3;
}

.aboutContainer ul li{
    list-style: none;
}

.aboutContainer ul{
    margin-bottom: 0px;
    padding:0px;
}

.imgWidth{
    width:100%;
}

.hideIcon{
    display: none;
}
/* contact form */
.contactFormStyling .form-control{
    border-radius: 0px;
}

.contactFormStyling .form-control:focus{
    border-color: var(--darkGrey);
    box-shadow: none;
}

.contactFormButton{
    padding-left:9px;
}

/* footer */
Footer {
    color: var(--darkGrey);
    height:200px;
    width: 100%;
    bottom:0px;
}

Footer a {
    color: var(--iconColor);
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
    cursor: auto;
}

Footer a:hover{
    color: var(--lightPink);
    cursor: auto;
}

Footer .linkedIn{
    fill: var(--iconColor);
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
    cursor: auto;
}

Footer .linkedIn:hover{
    fill: var(--lightPink);
    cursor: auto;
}

Footer h6{
    color: var(--iconColor);
}

@media (min-width: 576px) { 
    h1{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.75rem;
    }

    h4{
        font-size: 1.5rem;
    }

    h5{
        font-size: 1.25rem;
    }

    h6{
        font-size: 1rem;
    }

    h1{
        font-size: 2.5rem;
    }

}

@media (min-width: 550px) { 
.textOnImage{
    position:absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textBelowSignature{
    position:absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}

@media (min-width:768px){
    .pagePbBg{
        padding-top:180px;
    }
}

@media (min-width: 825px) { 
    .textOnImage{
        position:absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .textBelowSignature{
        position:absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}

@media (min-width: 1100px) { 
    .textOnImage{
        position:absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .textBelowSignature{
        position:absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}



